<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <img src="/img/glhf.png">
  <ul>
    <% @todos.each do |todo| %>
      <li>
        <a href="/todos/<%= todo['id']%>"><%= todo['name'] %></a>
        <form action="/todos/<%=todo["id"]%>/delete" method="post">
	        <input type="submit" value="Ta bort">
        </form>
        <a href="/todos/<%= todo['id']%>/edit">Ändra</a>
      </li>
    <% end %>
  </ul>
</body>
</html>
